<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poetry Game</title>
</head>
<body>

    <h1>Poetry Game</h1>
    {% if not game_started %}
    <form action="/join" method="POST">
        <label for="playerName">Please enter your nickanme:</label>
        <input 
            type="text"
            id="playerName"
            name="playerName"
            required>
        <button type="submit">
            Join Game
        </button>
    </form>
    {% endif %}

    <h2>Players</h2>
    <ul>
    {% if not game_started %}
    <form action="/start" method="POST">
        <button type="submit">
            Start Game
        </button>
    </form>
    {% endif %}
    </ul>
<ul>

{% for player in players %}

    <li>{{ player }}</li>

{% endfor %}


    {% if game_started and not game_finished %}

        <h2>Current Player, {{ current_player }}</h2>

        <p>{{ current_player }}, it's your turn. Please type your line of poetry here:</p>

        <form action="/submit_line" method="POST">
            <label for="poemLine">
                Write the next line of the poem:
            </label>
            <br><br>
            <input
                type="text"
                id="poemLine"
                name="poemLine"
                required>
            <button type="submit">
                Submit Line
            </button>
        </form>
    
    {% endif %}
    
    {% if game_finished %}
        <h2>Final Poem</h2>
            <form action="/new_game" method="POST">

            <button type="submit">
                 Play Again
            </button>

            </form>

    {% else %}
        <h2>Current Poem</h2>
    {% endif %}

<ul>

{% for line in poem %}

    <li>{{ line }}</li>

{% endfor %}

</ul>



</ul>
    <p>Testing for now.</p>

</body>
</html>