<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poetry Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=""container">
    <h1>Poetry Game</h1>
    {% if not game_started %}
    <form action="/join" method="POST">
        <label for="playerName">Please enter your nickanme:</label>
        <input 
            type="text"
            id="playerName"
            name="playerName"
            required>
        <button type="submit">
            Join Game
        </button>
    </form>
    {% endif %}

 {% if not game_started %}

    <h2>Players</h2>

        <ul>
            {% for player in players %}
            <li>{{ player }}</li>
            {% endfor %}
        </ul>

{% endif %}

    {% if not game_started %}
    <form action="/start" method="POST">
        <button type="submit">
            Start Game
        </button>
    </form>
    {% endif %}
    </ul>
<ul>


    {% if game_started and not game_finished %}

        <h2>Current Player, {{ current_player }}</h2>

        <p>{{ current_player }}, it's your turn. Please type your line of poetry here:</p>

        <form action="/submit_line" method="POST">
            <br><br>
            <input
                type="text"
                id="poemLine"
                name="poemLine"
                required>
            <button type="submit">
                Submit Line
            </button>
        </form>
    
    {% endif %}
    
    {% if game_finished %}
        <h2>Final Poem</h2>
            <form action="/new_game" method="POST">

            <button type="submit">
                 Play Again
            </button>

            </form>

    {% else %}
        <h2>Current Poem</h2>
    {% endif %}

<div class="poem">

{% for line in poem %}

    <p>{{ line }}</p>

{% endfor %}

</div>

{% if game_started %}

<h2>Players</h2>

<ul>
{% for player in players %}
    <li>{{ player }}</li>
{% endfor %}
</ul>

{% endif %}

</ul>
    <p>Testing for now.</p>

</div>
</body>
</html>